#contacts{
/* padding-top: 25px; */
}
.contact-head {
  width: 100%;
  color: white;
  text-align: center;
  margin: 15px 0px;
}
.h-line {
  /* border: 1px solid; */
  height: 2px;
  max-width: 100%;
  background-color: orange;
  margin-bottom: 30px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form > form {
  box-shadow: rgba(85, 80, 80, 0.896) 0px 8px 24px;
  font-size: 20px;
  background-color: white;
  display: flex;
  /* height: 300px; */
  font-size: clamp(1rem, 2.5vw, 2rem);
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;

  width: 70%;
}

button {
  width:5rem;
  padding: 2px 5px;
}
input {
  font-size: clamp(1rem, 2.5vw, 2rem);
  width:60vw;
  height: 5vw;
}
textarea {
  font-size: clamp(1rem, 2.5vw, 2rem);
  width: 60vw;
  height: 15vw;

}
.social {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-icon {
  margin-top: 4em;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}
.icon {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}
