.navbar {
  display: flex;
  justify-content: space-between;
  gap: 0.1em;
  align-items: center;
  height: 60px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.char {
  padding-left: 2.5%;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  color: white;
}
.sub-nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 40px;
  font-size: clamp(.2rem, 2.5vw, 2rem);
  font-weight: 400;
  height: inherit;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
/* .sub-nav > div:hover,
a:hover {
  color: black;
  padding: 2px;
  background-color: white;
  border-radius: 5px;
} */
@media all and (min-width: 480px) and (max-width: 720px) {
  .sub-nav {
    height: 40px;
    width: 70%;
    background-color: black;
  }
}
@media all and (min-width: 0px) and (max-width: 480px) {
  .sub-nav {
    height: 40px;
    width: 70%;
    background-color: black;
  }
}
