.projects-head {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.detail {
  color: white;
  margin: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-detail {
  color: white;
  margin-left: 40px;
  width: 400px;
}
.p-shot {
  margin: auto;
  display: block;
  width: 600px;
  height: 400px;
  cursor: pointer;
}
.m-button {
  display: flex;
  gap: 10px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 15px;
  background-color: orange;
}

/* ----------screens----------------- */

@media all and (min-width: 480px) and (max-width: 720px) {
  .detail {
    margin: 10px 10px;
  }
  .p-detail {
    margin-left: 10px;
    font-size: 15px;
    width: 300px;
  }
  .p-shot {
    margin: auto;
    display: block;
    width: 400px;
    height: 200px;
    cursor: pointer;
  }
  .button {
    height: 30px;
    width: 100px;
    margin: 10px 0px;
    border-radius: 10px;
  }
}
@media all and (min-width: 0px) and (max-width: 479px) {
  .detail {
    margin: 10px 10px;
  }
  .p-detail {
    margin-left: 10px;
    font-size: 10px;
    width: 300px;
  }
  .p-shot {
    margin: auto;
    display: block;
    width: 250px;
    height: 150px;
    cursor: pointer;
  }
  .button {
    height: 30px;
    width: 100px;
    margin: 10px 0px;
    border-radius: 10px;
  }
}
