#projects {
  padding: 2em;
}
.projects-head {
  margin-top: 30px;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.detail {
  color: white;
  margin: 3em 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* border: 1px solid white; */
}
.p-detail {
  color: black;
  margin-left: .3rem;
  max-width: 42vw;
  max-height: fit-content;
  padding:1rem 0.8rem;
  font-size: clamp(0.1rem, 2vw, .8rem);
  background-color: white;
  border-radius: 0.5rem;
}
.m-button {
  padding-top: .5rem;
}
.p-shot {
  margin: auto;
  display: block;
  width: 42vw;
  height: 28vw;
  border-radius: 0.5rem;
  cursor: pointer;
}
.m-button {
  display: flex;
  gap: 20px;
}
.button {
  width: max-content;
  padding: 2px 5px;
  margin: 1em 1em 0 0;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: orange;
}

/* ----------screens----------------- */

@media all and (min-width: 480px) and (max-width: 720px) {
   .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .p-detail {
    max-width: 80vw;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .p-shot {
    width: 80vw;
    height: 50vw;
    margin-bottom: 15px;
  }
}
@media all and (min-width: 0px) and (max-width: 479px) {
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .p-detail {
    max-width: 80vw;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .p-shot {
    width: 80vw;
    height: 50vw;
    margin-bottom: 15px;
  }
}
