#skills {
  /* padding-top: 30px; */
  padding: 2.3em 1em;
  /* border: 1px solid white; */
}
.skill-head {
  width: 100%;
  color: white;
  text-align: center;
}
.skill-head>h1 {
 margin: 30px 0px;
}
.sub-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillSet1,
.skillSet2 {
  display: flex;
  width: 70%;
  gap:0.5rem;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5rem;
}
.skillSet1 > div > img {
  height: 12vw;
  width: 12vw;
}
.skillSet2 > div > img {
  height: 12vw;
  width: 12vw;
}
.d-skill{
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-skill>p {
  width: 80%;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}
/* ----------------------screens-------------------------- */
/* @media all and (min-width: 480px) and (max-width: 720px) {
   .skillSet1,
  .skillSet2 {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
  }
  .skillSet1 > div > img {
    height: 80px;
    width: 80px;
  }
  .skillSet2 > div > img {
    height: 80px;
    width: 80px;
  } 
}
@media all and (min-width: 0px) and (max-width: 479px) {
   .skillSet1,
  .skillSet2 {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
  }
  .skillSet1 > div > img {
    height: 60px;
    width: 60px;
  }
  .skillSet2 > div > img {
    height: 60px;
    width: 60px;
  }
  .d-skill {
    margin: 50px 20px;
    font-size: 12px;
  } 
} */
