.m-stats {
  padding: 1em;
}
.stats-head {
  padding-top: 20px;
  width: 100%;
  color: white;
  text-align: center;
  /* margin-bottom: 30px; */
}
.stats {
  padding: 2em 1em;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.stats > a {
  margin-top: 20px;
  display: flex;
  max-width: 70%;
  flex-direction: column;
  justify-content: center;
}
img {
  width: 35vw;
}
.stats > a:hover {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1.4, 1.4);
  transition: all 1s;
}
.calender {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* .calender>:first-child {
 width: 60vw;
} */

@media all and (min-width: 480px) and (max-width: 720px) {
}

@media all and (min-width: 0px) and (max-width: 480px) {
  .m-stats {
    padding: 2em 1em 0em 1em;
  }
  .stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .stats > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 75vw;
  }
  .calender {
    margin: 10px 20px;
  }
}
